{% extends "base.html" %} {% block title %}Edit Item: {{productFound.Name}}{% endblock %} 
{% block content%}
    <!-- HTML Body content here -->
        <div class="col-md-12 col-lg-12">
            <span class="p-2"> </span>
            <h2 class="mb-3 m-b-6">Edit Product</h2>
            

          <form class="needs-validation" novalidate="" method="POST" enctype="multipart/form-data">
            
            <div id="product description">
            
            <h4 class="mb-3">Product Description</h4>
         
                <div class="row g-3">

                    <div class="col-12">
                        <label for="ProductName" class="form-label">Product name</label>
                        <input type="text" class="form-control" name="ProductName" placeholder="" required="" value="{{productFound.Name}}">
                        <div class="invalid-feedback">
                        Valid product name is required.
                        </div>
                    </div>

                    <div class="col-md-12 col-md-12">
                        <label for="ProductDescription" class="form-label">Product Description</label>
                        <input type="text" class="form-control" name="ProductDescription" placeholder="" required="" value="{{productFound.Description}}" >
                        
                    </div>
                    
                    <div class="col-8">
                        <label for="ProductPrice" class="form-label">Price</label>
                        <input type="text" class="form-control" name="ProductPrice" placeholder="$..." required="" value="{{productFound.Price}}">
                        <div class="invalid-feedback">
                        Please enter a non-negative value.
                        </div>
                    </div>
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    
                    <div class="col-6">
                        
                            <label for="file-upload" class="custom-file-upload">
                            <i class=""></i> Upload Product Image
                            </label>
                            <input id="file-upload" name='uploadImg' type="file" style="display:inline-flex;">
                        
                    </div>
                  </div>
            <hr class="my-4">

            <script>
              function deleteItem(PID) {
                            fetch("/delete-item", {
                              method: "POST",
                              body: JSON.stringify({ PID: PID }),
                            }).then((_res) => {
                              window.location.href = "/";
                            });
                          }
            
            </script>

            <div class="row d-flex justify-content-center">
              <button class="col-sm-5 btn btn-primary btn-lg my-2 mx-2 " type="submit" >Submit Edit</button>
              <button type= "button" class="col-sm-5 btn btn-danger btn-lg my-2 mx-2" onClick="deleteItem({{PID}})">Delete Product</button>
            </div>
            
          </form>
        </div>
        <row style="height: 20px;">

        </row>
      </div>
      
   

    
    {% endblock %}