{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
    <!-- HTML Body content here -->

    
    <div class ="row p-2">
        <!-- search bar -->
        <div class="col-md-8 p-2">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
              </div>
        </div>
        <!-- sort by drop down -->
        <div class="col-md-4 d-flex justify-content-end p-2">
            <div class="dropstart">
                <button class="btn btn-secondary dropdown-toggle btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item {%if sortby=='newest'%} active {%endif%}" href="{{url_for('app.index', sortby='newest')}}">Newest Arrival</a>
                    <a class="dropdown-item {%if sortby=='priceDesc'%} active {%endif%}" href="{{url_for('app.index', sortby='priceDesc')}}" >Price: High to low</a>
                    <a class="dropdown-item {%if sortby=='priceAsc'%} active {%endif%}" href="{{url_for('app.index', sortby='priceAsc')}}">Price: Low to High</a>
                  
                </div>
              </div>
        </div>
        
        
    </div>
    <!-- products on display-->
    <div class="row p-2"> 
        {% for product in productsDict %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- displays all images for a product -->
                    {% for image in product[9] %}
                    <div class="carousel-item active">
                        <img class="d-block w-100" src={{img.img}} mimetype={{img.mimetype}} alt={{img.name}}>
                        </div>
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
                <!-- product info -->
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                      <!-- product name & price -->
                <h5 class="card-text">{{ product[3] }}</h5>
                <h5 class="card-text">${{ product[5] }}</h5>
            </div>
                   <!-- product description -->
                <p class="card-text">{{ product[4] }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">Add to Cart</button>
                  </div>
                   <!-- product time since posted -->
                  <small class="text-muted">{{ now - product[6] }}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
   
    {% endblock %}