{% extends "base.html" %} {% block title %}Post Item{% endblock %} 
{% block content%}
    <!-- HTML Body content here -->
        <div class="col-md-12 col-lg-12">
            <span class="p-2"> </span>
            <h2 class="mb-3 m-b-6">Post New Product</h2>
            

          <form class="needs-validation" novalidate="" method="POST" enctype="multipart/form-data">
            
            <div id="product description">
            
            <h4 class="mb-3">Product Description</h4>
         
                <div class="row g-3">

                    <div class="col-12">
                        <label for="ProductName" class="form-label">Product name</label>
                        <input type="text" class="form-control" name="ProductName" placeholder="" required="" value="">
                        <div class="invalid-feedback">
                        Valid product name is required.
                        </div>
                    </div>

                    <div class="col-md-12 col-md-12">
                        <label for="ProductDescription" class="form-label">Product Description</label>
                        <input type="text" class="form-control" name="ProductDescription" placeholder="" required="" value="" >
                        
                    </div>
                    
                    <div class="col-8">
                        <label for="ProductPrice" class="form-label">Price</label>
                        <input type="text" class="form-control" name="ProductPrice" placeholder="$..." required="" value="">
                        <div class="invalid-feedback">
                        Please enter a non-negative value.
                        </div>
                    </div>
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    
                    <div class="col-6">
                        
                            <label for="file-upload" class="custom-file-upload">
                            <i class=""></i> Upload Product Image
                            </label>
                            <input id="file-upload" name='uploadImg' type="file" style="display:inline-flex;">
                        
                    </div>
                  </div>
            <hr class="my-4">

  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Submit Entry</button>
          </form>
        </div>
        <row style="height: 20px;">

        </row>
      </div>
      
   

    
    {% endblock %}