{% extends "base.html" %} {% block title %}Registration{% endblock %} 
{% block content%}
    <!-- HTML Body content here -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Login V2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <!--===============================================================================================-->
    </head>
    <body>
        
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100-signup">
                    <form method="POST" class="login100-form validate-form">
                        <span class="login100-form-title p-b-26">
                            Registration Form
                        </span>
                        <span class="login100-form-title p-b-48">
                            <img src="{{url_for('static', filename='logo.png')}}" alt="logo" width="90px">
                        </span>
                        <div class="wrap-input100 validate-input" data-validate="The First Name field is required">
                            <input class="input100" type="text" name="first_name">
                            <span class="focus-input100" data-placeholder="First Name"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The middle initial field is not required">
                            <input class="input100" type="text" name="middle_initial">
                            <span class="focus-input100" data-placeholder="Middle Initial" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The Last Name field is required">
                            <input class="input100" type="text" name="last_name">
                            <span class="focus-input100" data-placeholder="Last Name" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The address field is required">
                            <input class="input100" type="text" name="address">
                            <span class="focus-input100" data-placeholder="Address" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The City field is required">
                            <input class="input100" type="text" name="city">
                            <span class="focus-input100" data-placeholder="City" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The State field is required">
                            <input class="input100" type="text" name="state">
                            <span class="focus-input100" data-placeholder="State" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The zipcode field is required">
                            <input class="input100" type="text" name="zipcode">
                            <span class="focus-input100" data-placeholder="Zip Code" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="The Phone Number field is required">
                            <input class="input100" type="text" name="phone_number">
                            <span class="focus-input100" data-placeholder="Phone Number" ></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                            <input class="input100" type="text" name="email">
                            <span class="focus-input100" data-placeholder="Email"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="password">
                            <span class="focus-input100" data-placeholder="Password"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Password did not match">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" name="password2">
                            <span class="focus-input100" data-placeholder="Re-Enter Password"></span>
                        </div>
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Sign up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    
        <div id="dropDownSelect1"></div>
        
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    </body>
    </html>
    {% endblock %}
